
html{
    background-image: url(/home/daniel/Desktop/web-projects/test-site/images/coding-image.webp);
    color: #ffffff;  
}


h1{
    font-family: 'Oswald', sans-serif;
}

body{
    font-family: 'Oswald', sans-serif;
}


a:link, a:visited {
    color: white;
}

a:hover {
    color: red;
}

#afbetalingen {
    color: green;
}
p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
    
  }

